<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :identifier %><br>
    <%= f.text_field :identifier %>
  </div>
  <div class="field">
    <%= f.label :organization_type_id %><br>
    <%= f.collection_select :organization_type_id, OrganizationType.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="field">
      <%= f.label :organization_status_id %><br>
      <%= f.collection_select :organization_status_id, OrganizationStatus.order(:name), :id, :name, include_blank: true %>
    </div>
  <div>
    <%= f.label :address1 %><br>
    <%= f.text_field :address1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
