<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @organization.identifier %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @organization.address1 %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
